body{
    background-color: #f5f5f5 !important;
    /*font-family: 'Poppins', sans-serif !important;*/

}
#header{
    min-height: 120px;
    background: url('../images/blue-abstract-bg-lght.jpg') center bottom;
    padding-top: 10px;
    padding-bottom: 10px;
}
.college-heading{
    margin: 0;
    text-align: center;
}
.college-heading span{
    display: block;
}
.college-heading .trust-name{
    font-size: 20px;
    color: orange;
}
.college-heading .college-name{
    font-size: 34px;
    color: #fff;
}
.college-heading .streams, .location{
    font-size: 22px;
    color:#fff;
}
.owl-carousel .owl-stage-outer{
    box-shadow: 0px 10px 5px #222;
}
.owl-carousel{
    margin-top: 10px;
}

.owl-carousel, .owl-carousel img, .owl-carousel .item, .owl-carousel .owl-stage-outer {
    border-radius: 10px !important;
}
.navbar.navbar-expand-md.navbar-light.bg-light{
    padding: 0.2rem 1rem !important;
    background-color:black !important;
}
.navbar-light .navbar-nav .nav-link{
    padding-right: 0.8rem !important;
    padding-left: 0.8rem !important;
    color: #f5f5f5 !important;
}
.nav-link:hover{
    background-color: #0084c2;
}
footer{
    background: #000;
    color:#fff;
    text-align: center;
}
hr{
    border: 1px solid #0084c2 !important;
    margin-bottom: 10px !important; 
    /*width: 75%;*/
    
    margin-top: 10px !important;

}
.founder-image-div{
    float: right;
    width: 210px;
    clear: right;

}
.img1
{
    float :left;
    width:180px;
    height:160px;
    margin-right:30px;
}


